body {
  background: #ffffff;
}
.hero {
  text-align: center;
  background: hsl(0, 0%, 98%);
  padding: 90px 20px;
}

.hero p {
  font-size: 22px;
  font-family: "Dosis", sans-serif;
}

h1 {
  font-size: 45px;
}

h2 {
  line-height: 100px;
  font-family: "Pacifico", cursive;
}

.btn {
  font-family: "Dosis", sans-serif;
  color: #fbfbfb;
  border: none;
  border-radius: 12px;
  transition: 250ms ease-in-out;
  padding: 16px 30px;
  margin-top: 10px;
}
.btn-contact {
  background: black;
}

.btn-contact:hover {
  background: #2a2438;
  color: #ffffff;
}
.home-content{
  padding-top:30px;
}
.home-content h2 {
  text-align: center;
  font-size: 45px;
  padding-top:15px;
}
.col {
  margin: 10px;
  padding-top: 20px;
}

.info {
  position: relative;
  top: 42px;
  right: 35px;
}
.btn-weather-app-link {
  background: linear-gradient(
    0.2deg,
    rgb(51, 204, 255) 4.8%,
    rgb(51, 102, 255) 85.5%
  );
}

@media(max-width:960px){
  
  .info{
    display:block;
    margin:0 auto; 
    padding:0px;
    text-align:center;
    position:relative;
    left:20px;
  }

  .info .btn-weather-app-link{
    padding:10px 50px;
  }

  .frontend-developer{
    width:85px;
    position:relative;
    left:30px;
  }
}
