body {
  background: #ffffff;
}
.hero {
  text-align: center;
  background: hsl(0, 0%, 98%);
  padding: 120px 20px;
}

.hero p {
  font-size: 22px;
  font-family: "Dosis", sans-serif;
}

h1 {
  font-size: 45px;
}

h2 {
  line-height: 100px;
  font-family: "Pacifico", cursive;
}

.btn {
  font-family: "Dosis", sans-serif;
  color: #fbfbfb;
  border: none;
  border-radius: 12px;
  transition: 250ms ease-in-out;
  padding: 16px 30px;
  margin-top: 10px;
}
.btn-contact, .btn-view-projects, .btn-app-link,.btn-contact{
  background: black;
}

.btn-contact:hover, .btn-view-projects:hover, .btn-app-link:hover, .btn-contact:hover {
  background: #2a2438;
  color: #ffffff;
}

.home-content h2 {
  text-align: center;
  font-size: 45px;
  padding-top: 15px;
}
.col {
  margin: 10px;
  padding-top: 20px;
}

.info {
  position: relative;
  top: 42px;
  right: 35px;
}

.btn-weather-app-link {
  background: linear-gradient(
    0.2deg,
    rgb(51, 204, 255) 4.8%,
    rgb(51, 102, 255) 85.5%
  );
}
  /*Remember to create media queiries for each page and give each section a name*/

@media (max-width: 960px) {
  .info {
    display: block;
    margin: 0 auto;
    padding: 0px;
    text-align: center;
    position: relative;
    left: 20px;
  }

  .info .btn-weather-app-link {
    padding: 10px 50px;
  }

  .frontend-developer {
    width: 85px;
    position: relative;
    left: 30px;
  }
}

.about-info{
  margin-top:60px;
}
.about-info, .btn-view-projects, h1,h2,p{
  position:relative;
  left:30px;
}

.about-info p{
  padding:-20px;
}

.my-picture{
   position:relative;
  left:50px;
  top:30px;
  padding-top:30px;
  border-radius: 360px 120px;
  margin-top:10px;
}


@media(max-width:960px){
  .about-info{
   text-align: center;
   margin-top:40px;
   padding-top:100px;
   padding-left:80px;
  }
  .about-info h1{
      font-size:30px;
  
  }

  .about-info h2{
    position:relative;
    bottom:130px;
  }

.my-picture{
  position:relative;
  top:45px;
  right:80px;
  width:180px;
  border-radius: 100px;

}
 .about-info .btn-view-projects {
    padding: 10px;
  }
.projects-content a{
  padding:13px;
position:relative;
left:-18px;

}


.projects-content p{
  margin-left:-17px;
}


}

.projects-content{
  padding-bottom:40px;
  position:relative;
  left:60px;
}

.projects-content h1{
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin-top:20px;
margin-bottom:-20px;


}
.projects-content .btn-app-link{
  margin-left:33px;

}

  .projects-content img{
 margin-top:70px;
}


/*Contact page*/
.content{
  margin-top:30px;
}
.contact-content h1{
font-size: 68px;
font-family:Arial, Helvetica, sans-serif;

}
.socials{
  font-family:"Pacifico", cursive ;
  text-align: center;
}







